# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/

# Django database (ignore for production)
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Logs
*.log

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/
